# 8. Memeriksa kesamaan antar dua bolom kolom (`Series`) pada `DataFrame`

In [2]:
# Import all of the necessary pacakges
import pandas as pd
import numpy as np

## Persiapan `DataFrame`

In [4]:
data = {
    "A": [15, 15, 18, np.nan, 12],
    "B": [15, 15, 18, np.nan, 12]
}

df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

## Mengenal Pandas `Series`

`Series` is a one-dimensional labled array holding data of any type. Every `DataFrame` is made from group of Series.

In [6]:
df["A"]

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [7]:
type(df["A"])

pandas.core.series.Series

In [8]:
type(df)

pandas.core.frame.DataFrame

## Memeriksa kesamaan kolom dengan operator `==`

In [10]:
df["A"] == df["B"]

0     True
1     True
2     True
3    False
4     True
dtype: bool

## Memeriksa kesamaan dengan method `.equals()`

In [12]:
df["A"].equals(df["B"])

True

## Memeriksa kesamaan antar dua `DataFrame`

In [14]:
df1 = df.copy(deep=True)

df.equals(df1)

True