# 18. Membentuk dummy `DataFrame`

In [1]:
# Import all of the necessary packages
import pandas as pd
import numpy as np

## Membentuk `DataFrame` dari dictionary

In [2]:
pd.DataFrame({
    "Col1": list(range(1, 6)),
    "Col2": list(range(6, 11))
})

   Col1  Col2
0     1     6
1     2     7
2     3     8
3     4     9
4     5    10

## Membentuk `DataFrame` dari Numpy array

In [3]:
n_rows = 5
n_cols = 3
cols = list("ABC")

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)
df

    A   B   C
0   1   6   3
1   1   4  12
2  18  11   7
3   6  13  13
4   1   9   7